<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
    connectionString="Data Source=LAPTOP-ISGF9RKE\SQLEXPRESS;Initial Catalog=Equipments;User Id=user;Password=user;Integrated Security=True"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>